:root {
  --primary-color: #495e57;
  --secondary-color: #f4ce14;
  --text-color: #333;
  --background-light: #edefee;
  --background-dark: #333333;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 20px;
  --padding-small: 6px;
  --padding-medium: 10px;
  --padding-large: 14px;
  --border-radius: 4px;
}

body {
  width: 100%;
  margin: 0 auto;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

nav {
  z-index: 10001;
}

.navbar {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

nav ul li a {
  color: var(--text-color);
}

nav ul li a:hover {
  text-decoration: underline solid var(--primary-color);
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links.visible {
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

/* header section */

.header {
  background-color: var(--primary-color);
  padding: 40px 0;
}

.header section {
  color: var(--background-light);
  padding: 10px 13%;
  position: relative;
}

h2 {
  color: var(--secondary-color);
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

.banner p {
  font-size: 20px;
  max-width: 520px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
  border: none;
  text-decoration: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-large);
  font-weight: bold;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Variants */
.button--default {
  background-color: #e0e0e0;
  color: #333;
}

.button--primary {
  background-color: var(--secondary-color);
  color: black;
  padding: 14px 18px;
}

.button--secondary {
  background-color: var(--primary-color);
  color: white;
}

.button--outline {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #333;
}

/* Sizes */
.button--small {
  padding: var(--padding-small) calc(var(--padding-small) * 2);
  font-size: var(--font-size-small);
}

.button--medium {
  padding: var(--padding-medium) calc(var(--padding-medium) * 1.6);
  font-size: var(--font-size-medium);
}

.button--large {
  padding: var(--padding-large) calc(var(--padding-large) * 1.4);
  font-size: var(--font-size-large);
}

/* Hover states */
.button--default:hover {
  background-color: #d0d0d0;
}

.button--primary:hover {
  background-color: #bf9415;
}

.button--secondary:hover {
  background-color: #ffc107;
}

.order-now-button {
  background-color: #ffd54f;
  color: #333;
}

.order-now-button:hover {
  background-color: #bf9415;
}

.banner-img {
  position: absolute;
  right: 13%;
  top: 15%;
  width: 400px;
}

.banner-img img {
  width: 100%;
  height: 400px;
  border-radius: 20px;
}

form,
.confirm {
  padding: 10px 13%;
}

.formField {
  padding: 50px 20px;
}

input,
label {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}
#book-date,
#book-time,
#book-guests,
#book-occasion {
  background: #bdbdbd43;
  padding: 8px 24px;
  border: none;
  outline: none;
  border-radius: 2px;
}

.button-receive {
  padding: 12px 16px;
  margin: 20px 20px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
}

.confirm span {
  color: blue;
}

/* menu items */

.menu-container {
  margin: 110px auto;
  padding: 10px 13%;
}

.menu-container h2 {
  color: #000;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}

.menu-items {
  width: 400px;
  background: #a9c8be;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.menu-container img {
  width: 100%;
  height: 233px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}

.menu-content {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.menu-content .heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.menu-content .price {
  font-weight: bold;
}

.menu-content p {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.order-button {
  align-self: flex-start;
  padding: 5px 12px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order-button:hover {
  background-color: #e0bd13;
}

footer section {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.company-info img {
  margin-top: 12px;
  cursor: pointer;
  width: 200px;
}

.company-info p {
  width: 320px;
}

footer h3 {
  font-size: 18px;
}

footer ul {
  padding: 0;
}

footer ul li {
  padding: 8px 0;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.visible {
    display: flex;
    background: var(--background-dark);
    z-index: 1000;
    padding: 20px 0;
  }

  .navbar {
    background: #fff;
    padding: 10px 8%;
  }

  nav ul li a {
    color: #fff;
  }

  .bar {
    background: #333333;
  }

  .banner-img {
    display: none;
  }

  form,
  .confirm {
    padding: 10px 8%;
  }

  .header section,
  .menu-container {
    padding: 10px 8%;
  }
  .menu-container {
    margin: 20px 0;
  }
  .menu-header {
    justify-content: flex-start;
  }

  .menu-items {
    width: 100%;
  }

  footer section {
    padding: 10px 8%;
    flex-direction: column;
  }
  .company-info p {
    width: 100%;
  }
}

.hidden {
  display: none;
}
.number-of-guests-wrapper {
  margin-bottom: 1rem;
}

.number-of-guests-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.number-of-guests-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.booking-form-field {
  margin-bottom: 1.5rem;
}

.booking-form-label {
  font-size: 1.1rem;
  color: #333;
}

.booking-form-input {
  border-color: #495e57;
}

.choose-date-wrapper {
  margin-bottom: 1rem;
}

.choose-date-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.choose-date-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.booking-form-field {
  margin-bottom: 1.5rem;
  width: 100%;
}

.booking-form-label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.booking-form-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.choose-date-input,
.number-of-guests-input,
select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%;
  background-size: 0.65em auto;
}

form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.booking-form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
